@font-face {
    font-family: my-Young-Serif;
    src: url('https://res.cloudinary.com/isbu4atn/raw/upload/v1785510895/YoungSerif-Regular_fb1d9u.ttf');
}

@font-face {
    font-family: my-Outfit;
    src: url('https://res.cloudinary.com/isbu4atn/raw/upload/v1785510895/Outfit-Regular_wtdx0r.ttf');
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(30, 18%, 87%);
    font-family: my-Outfit;
}

.container{
    width: 40%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
    height: 100%;
    padding: 20px;
    border-radius: 10px;
}

.web-image{
    background-image: url('https://res.cloudinary.com/isbu4atn/image/upload/v1785500654/image-omelette_uuoc1k.jpg');
    height: 300px;
    background-size: cover;
    border-radius: 5px;
}

.about-page{
    width: 100%
}

h1{
    font-family: my-Young-Serif;
    font-size: 30px;
}

p {
    font-family: 16px;
    line-height: 1.5;
}

.preparation-time{
    height: 200px;
    width: 100%;
    background-color: hsl(332, 51%, 90%);
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.ingredients, .instructions{
border-bottom: 1px solid hsl(30, 18%, 87%);
}

h3{
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
}

li{
    line-height: 2;
}

h2{
    font-family: my-Young-Serif;
    font-weight: bold;
    font-size: 20px;
    color: hsl(14, 45%, 36%);
}

span{
    font-weight: bold;
}

.nutrition table{
    width: 100%;
    border-collapse: collapse;
}

.nutrition tr{
   border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition td{
   padding: 12px 14px;
}

.measurement{
   color: hsl(14, 45%, 36%);
   font-weight: bold;
} 


