@font-face {
    font-family: my-Young-Serif;
    src: url('https://res.cloudinary.com/isbu4atn/raw/upload/v1785510895/YoungSerif-Regular_fb1d9u.ttf');
}

@font-face {
    font-family: my-Outfit;
    src: url('https://res.cloudinary.com/isbu4atn/raw/upload/v1785510895/Outfit-Regular_wtdx0r.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: hsl(30, 18%, 87%);
    font-family: my-Outfit;
    padding: 50px 20px;
}

.container{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    overflow: hidden;
}

.web-image{
    background-image: url('https://res.cloudinary.com/isbu4atn/image/upload/v1785500654/image-omelette_uuoc1k.jpg');
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px 10px 0 0;
}

.content{
    padding: 20px;
}

.about-page{
    width: 100%
}

.about-page h1{
    margin-bottom: 20px;
}

.about-page p{
    margin-bottom: 30px;
}

h1{
    font-family: my-Young-Serif;
    font-size: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

.preparation-time{
    width: 100%;
    background-color: hsl(332, 51%, 90%);
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.ingredients, .instructions{
border-bottom: 1px solid hsl(30, 18%, 87%);
}

.ingredients, .instructions, .nutrition{
    margin-top: 30px;
}

h3{
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    font-weight: bold;
    margin-bottom: 15px;
}

li{
    line-height: 2;
}

ul, ol {
    padding-left: 25px;
}

h2{
    font-family: my-Young-Serif;
    font-weight: bold;
    font-size: 20px;
    color: hsl(14, 45%, 36%);
    margin-bottom: 20px;
}

span{
    font-weight: bold;
}

.nutrition table{
    width: 100%;
    border-collapse: collapse;
}

.nutrition tr{
   border-bottom: 1px solid hsl(30, 18%, 87%);
}

.nutrition td{
   padding: 12px 14px;
}

.measurement{
   color: hsl(14, 45%, 36%);
   font-weight: bold;
} 

.about-page,
.preparation-time, 
.ingredients, 
.instructions,
.nutrition{
    margin-bottom: 30px;
}









@media (max-width: 768px) {
    body {
        backgrond-color:white;
        padding:0;
    }

    .container{
        border-radius:0;
    }

    .web-image{
        border-radius:0;
    }

    h1 {
        font-size: 20px;
    }
    
    .content{
        padding: 30px;
    }

    .web-image{
        height: 200px;
    }
}


